{% extends "base.html" %}
 {% load staticfiles %}
{% block content %}
 <!-- <div id="container" class="js-masonry" data-masonry-options='{ "columnWidth":200,"itemSelector":".newsitem"}'> -->
 <div id="container">


{% for link in links %}

<div class="newsitem col-md-3">

<div class="ntitle">
   <a href="{{ link.url }}" target="_new">{{ link.title }}</a>
</div>


<div class="nthumb">
    <!-- <img src="{% static 'images/thumbs/small/'%}{{ link.imagepath }}"> -->
    <img src="{{ STATIC_URL }}images/thumbs/small/{{ link.imagepath }}">
   {{ link.mindesc }} ..... <a href="{{ link.url }}" target="_new">more </a>
</div>

<div class="clear"></div>
<div class="nsource">
{{ link.source }}
    {{ link.insertdate|date:"M d, Y" }}
</div>



</div>

{% endfor %}



</div><!-- end container -->

<div class="pagination col-md-3">
    <span class="step-links">
        {% if links.has_previous %}
            <a href="?page={{ links.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ links.number }} of {{ links.paginator.num_pages }}.
        </span>

        {% if links.has_next %}
            <a href="?page={{ links.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
