
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">

          <a class="navbar-brand" href="/index">TeluguWeb.in</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/news" class="nav"> &#3125;&#3134;&#3120;&#3149;&#3108;&#3122;&#3137;</a></li>
            <li><a href="#" class="nav">&#3128;&#3135;&#3112;&#3135;&#3118;&#3134;</a></li>
            <li><a href="#" class="nav">&#3125;&#3136;&#3105;&#3135;&#3119;&#3147;</a></li>
          </ul>

        </div>
      </div>
    </nav>